h3{
    font-style: italic;
    line-height: 1;
}

.row {
    text-align: center;
}

.container-right, .container-left {
    text-align: left;
}
.container-left{
    float: left;
    width: 40%;
    margin-left: 5%;
}

.container-right{
    float: right;
    width: 40%;
    margin-right: 5%;
}

.container-heading{
    text-align: center;
}

.main-image{
    height: 200px;
}

.burger{
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: palegoldenrod;
    color: darkred;
}

.burger-input{
    width: 100%;
    margin: 5px 0px 5px 0px;
    border: none;
    background-color: palegoldenrod;
}

.burger-name{
    font-style: bold;
    font-size: large;
}
